.Lead{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.card{
    margin: 3% auto;
    width: 100%;
}
.chart{
   display: flex;
   flex-wrap: wrap;
}
.chart canvas{
    width: 50% !important;
    height: 50% !important;
    margin: 3% auto;
}